Team/movie-trailer/src/main/resources/META-INF/mongo/mongo-sql.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="mongo-sql">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="select" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="find-sql"/>
              <xs:element type="xs:string" name="fields" minOccurs="0"/>
              <xs:element type="xs:string" name="sort"/>
              <xs:element type="xs:byte" name="limit"/>
              <xs:element type="xs:byte" name="skip"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="update" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="find-sql"/>
              <xs:element type="xs:string" name="update-field"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="optional"/>
            <xs:attribute type="xs:string" name="multi-update" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="delete" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="find-sql"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="aggregate" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="pipline-sql" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>